<div class="message">
  <div class="message-user">
    <%= message.user.nickname %>
  </div>
  <div class="message-content">
    <%= simple_format(h message.content) %>
  </div>
  <div class="message-time">
     <%= message.updated_at.strftime("%m/%d %H:%M") %>
  </div>
</div>
